/* styles.css */
/* styles that tailwind cannot support */
.custom-gradient {
  /* Apply the gradient as a background image */
  background-image: linear-gradient(
    to right,
    #85d08f 17%,
    #85d08f 31%,
    #efd59e 46%
  );

  /* Clip the background to the next */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.btn {
  white-space: nowrap;
}
